
/* website colors: light bule - 467DA2, dark blue - 09203D,
				   light brown - 8E7262, medium brown - 773D1B,
				   dark brown - 3A1003
*/
/* GENERIC */

a {
	color: lightcyan;
	text-decoration: none;
}
a:hover, a:active {
	color: lightcyan;
	cursor: pointer;
}

img.profile {
	min-width: 4.3em;
	max-width: 30em;
}

h11, h12{
    font-size: 30px;
    color: lightblue;
}
h12{
    font-size: 17px;
}
h7 {
	font-size: 40px;
	color: lightblue;

}
h8 {
	font-size: 20px;
	color: lightblue;
	font-style: italic;
	font-family: inherit;
}
h13{
    font-size:50px;
    color:greenyellow;
    background-color: white;
}

/* BASE */

body { 
	background-image: url('/static/images/notebook.png');
	height: 100%;
	width: 100%;
	margin: 0;
    font-family: 'Fjalla One', sans-serif;
	font-size: 17px;
	color: ghostwhite;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
body.registerpage {
    background-image:none; 
    overflow:scroll;
}



header {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	padding: 1em;
	background-color: black;
    opacity: 1;
	text-decoration: none;
	padding-bottom: 0.5em;
    padding-top: 0.5em;
    position:fixed;


}
header ul {
	text-align: center;
    opacity: 0.9;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;  

}
header ul li {
	list-style-type: none;
	float: right;
    padding-top:1em;
    padding-bottom:1em;
}
div.urls a{
	background-color: white;
	padding: 2em;
	font-size: 1.4em;
    font-family: 'Fjalla One', sans-serif;
	color: black;
}
div.urls a:hover{
    color:greenyellow;
    border-radius: 10%;
    text-decoration: none;
}
div.urlsA a:hover{
    background-image: radial-gradient(50% 176%, #50117d 80%, purple 100%);
}
div.urlsB a:hover{
    background-image: radial-gradient(50% 176%, lightblue 80%, purple 100%);
}
div.urlsC a:hover{
    background-image: radial-gradient(50% 176%, purple 80%, lightblue 100%);
}
div.urlsD a:hover{
    background-image: radial-gradient(50% 176%, yellow 80%, orange 100%);
}
div.urlsE a:hover{
    background-image: radial-gradient(50% 176%, purple 80%, orange 100%);
}
div.urlsF a:hover{
    background-image: radial-gradient(50% 176%, green 80%, lightblue 100%);
}
div.page_name {
	margin-top:50px;
    border: 5px solid greenyellow;
    background-color: #09203D;
    padding-top: 0.2em;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-decoration-style: dotted;
	clear: both;
    margin-left:465px;
	text-align: center;
    opacity:0.8;
    width:590px;
	font-size: 3.5em;
	padding-bottom: 0.3em;
}
div.body {
	width: 100%;
	position: absolute;
	overflow: auto;
	top: 4.5em;
	bottom: 4.5em;
}
footer {
	position: absolute;
	overflow: hidden;
	opacity: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	padding: 1em;
    position:fixed;
}

/* CATEGORIES PAGES */

div.cat_text{
	padding: 2%;
	color: snow;
	position: relative;
	background-color: #467DA2;
	text-align: center;
	bottom: 1em;
	font-size: 1em;
	box-shadow: 3px 3px 3px lightblue;
    border-radius: 0%;
}

div.cat img{
	position: relative;
	min-width: 4.3em;
	max-width: 20em;
	width: 18.75em;
	height: 12.5em;
	box-shadow: 3px 3px 3px grey;
    opacity:0.9;

}
div.cat img:hover{
    bottom: 7px;
    opacity:1;

}
div.row {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 4%;
	justify-content: center;
	align-items: center;
}
div.show_categories {
    padding:15px;
	font-family: 'Fjalla One', sans-serif;
	display: grid;
	grid-template-columns: 9em auto;
	grid-gap: 1%;
}
div.cat_bar a{
	margin-left: 0.9em;
    margin-top: 250px;
    margin-bottom: 10px;
    position: fixed;
	font-size: 1em;
    color:aliceblue;
    padding-bottom: 70px;
    font-family: 'Fjalla One', sans-serif;
    overflow:scroll;
}
div.cat_bar a:hover{
    font-size:1.2em;
    color:greenyellow;
}
div.cat_bar h3{
    margin-top: 225px;
    position: fixed;
	line-height: 10%;
	font-weight: bold;
    font-family: 'Fjalla One', sans-serif;

}

/* ENTRY PAGE */

div.entry_page{
	position: fixed;
	display: grid;
	height: 69%;
	width: 100%;
	grid-template-columns: 20% 45% 20%;
	justify-content: left;
	grid-column-gap: 1em;
	padding-left: 4em;
	padding-right: 4em;
    overflow:scroll;
}
div.entry_title{
    text-align: :left;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    width:100%;
    padding-top:10px;
}
div.entry_info img{
	position: relative;
    margin-left: 80px;
    margin-top: 10px;
	width: 600px;
    height: 330px;
}
div.other {
	overflow: scroll;
}
div.entry_info {
	word-wrap: normal;
    overflow:scroll;
}

div.reviews {
    width: 350px;
    height: 450px;
	text-align: right;
    word-wrap: normal;
    background-color: #09203D;
    opacity: 0.95;
    padding:15px;
    border: 5px solid greenyellow;
    margin-bottom: 100px;
	overflow: scroll;

    
}
div.reviews2 {
    width: 350px;
    margin-left: 1000px;
	text-align: right;
    word-wrap: normal;
    background-color: #09203D;
    opacity: 0.95;
    padding:15px;
    border: 5px solid greenyellow;
    margin-bottom: auto;
	overflow: scroll;
}



pre {
	white-space: pre-wrap;
	display: block;
	width: auto;
	font-size: 1.4em;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}
div.view {
	max-height: 10em;
    overflow: scroll;
}
div.give {
    width:300px;
	overflow: scroll;
    margin-bottom: 10px;
    padding: 20px;
}

/* HOMEPAGE */

div.index_page {
	position: sticky;
	display: grid;
	height: 79%;
	grid-template-columns: auto 56% auto;
	justify-content: center;
	grid-column-gap: 3em;
	padding-left: 4em;
	padding-right: 4em;
    color:greenyellow;
    font-family: 'Fjalla One', sans-serif;
}
div.latest_posts img.index-logo{
	position: static;
	text-align: center;
	width: 93%;
	padding: 0.25em;
	background-color: rgba(220, 220, 220, 0);
}

div.index_page img{
	width: 100%;
	position: relative;
}
div.latest_posts {
	overflow: scroll;
	text-align: center;
    margin-bottom: 50px;
    padding:10px;
    
}
div.current_reminders, div.top_rated {
    padding-top:10px;
	overflow: scroll;
    margin-bottom: 35px;
}

/*INDEX PAGE Current Reminders& Latest Posts & Important Entries Columns*/ 
/* hot purple: 50117d or purple */
div.current_reminders, div.top_rated, div.item {
   /* background-image: radial-gradient(50% 176%, #09203D 80%, white 100%); */
  /*  background-image: radial-gradient(50% 296%, #3a7a12 80%, lime 100%); */
    background-image: radial-gradient(50% 296%, #09203D 80%, lightblue 100%);

    opacity: 1;
    margin-top:50px;
    padding:10px;
    color: greenyellow;
    font-size: 20px;
    border-radius: 10%;
}
div.latest_posts img.index-logo{
    /*background-image: radial-gradient(50% 296%, white 80%, white 100%); */
    opacity:0.9;
    border-radius: 20%

}
/*Size of image inside carousel*/
div.latest_posts img{
    border-radius:10%;
}
/*Size of border inside carousel*/
div.item {
    margin-top:0px;
    border-radius:5%;
    background-image: radial-gradient(50% 296%, #09203D 80%, lightblue 100%);

}

div.current_reminders h3, div.top_rated h3{
    font-size:30px;
    padding-left:18px;
}
 div.top_rated h3{
     padding-left:30px;
}

/*INDEX PAGE Current Reminders and Important Entries Columns IMAGES */
div.current_reminders img, div.top_rated img{
    width:260px;
    height:180px;
    padding-left:13px;
    opacity:0.8;
    border-radius: 10%;
}

div.top_rated img:hover, div.current_reminders img:hover{
    opacity:1;
    bottom: 2px;
}


/* PROFILE PAGE*/

div.account {
	position: fixed;
	display: grid;
	height: 77%;
	grid-template-columns: 25em auto;
	justify-content: left;
	grid-column-gap: 3em;
	padding-left: 4em;
	padding-right: 4em;
}

div.user_info img{
	width: 100%;
}
div.user_entries {
	overflow: scroll;
}
div.entry {
	line-height: 1.2em;
	margin-bottom: 8px;
	height: 60px;
	background-color: white;
	overflow: scroll;
	font-size: 0.9em;
}
div.entry img{
	padding-right: 0.25em;
	float: left;
}
div.entry img:hover{
	opacity: 0.7;
}

/* FAQS */

input.button {
    background-color: greenyellow;
    color: #09203D;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 90px;
    height: 35px;
}
.btn1, .btn2, .btn4, .btn3 {
    background-color: greenyellow;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 100px;
    height: 45px;
}

/* FORMS */




.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left:auto;
    margin-right:auto;
}


.ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    margin-left:auto;
    margin-right:300px;
    margin-top:250px;
}

.ContentContainer {
    display: block;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .ParallaxContainer {
    background-attachment: scroll;
  }
}

div.center {
    text-align: center;
}
textarea {
	width: 400px;
    background-color:aliceblue;
}

img.scrollMessage {
    
    border-radius:20%; 
    background-image:radial-gradient(50% 296%, lime 8%, greenyellow 100%); 
    
}

div.login_page {
    width: 400px;
    border: 15px solid #09203D;
    padding: 15px;
    margin-bottom: 240px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin:auto;
    
}

div.register{
    width: 450px;
    border: 15px solid #09203D;
    padding: 55px;
    margin: 0 auto;
	overflow: scroll;
    text-align: center;
}
div.steps {
    width: 570px;
    border: 5px solid greenyellow;
    padding: 10px;
    margin-bottom: 140px;
    margin-left:80px;
    text-align: left; 
    background-color: #09203D;
    opacity:0.95;
}
div.contact {
    width: 400px;
    border: 15px solid #09203D;
    background-color:white;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}
div.add {
    width: 520px;
    color:#09203D;
    border: 15px solid #09203D;
    background-color:white;
    padding: 25px;
    margin: 50px;
    margin-left: 480px;
    text-align: left;
}
div.edit_class {
    width: 400px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;

}
.edit {
    background-color: #467DA2;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 120px;
    height: 50px;
}
div.suggest{
    width: 400px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}
div.faq_class {
    width: 760px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}
div.chef_info{
    width: 75%;
    border: 10px solid greenyellow;
    background-color: #09203D;
    opacity:0.95;
    padding: 15px;
    margin: 0 auto;
    margin-bottom:100px;
    text-align: left;
}


div.invalidLogin{
    padding:auto;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 30px;
}
/*About page*/

div.about{
    padding:30px;
    font-size: 20px;
}
div.about h1{
    padding:20px;
    color:#09203D;
    text-decoration: underline;
    text-decoration-color: #09203D;
    text-decoration-style: wavy;
    font-size: 40px;
}

div.about p{
    margin:auto;
    margin-bottom: 43px;
    color:black;
    font-size: 25px;
    background-color:lightblue;
    opacity:0.8;
    border-radius: 10%;
}

.hero {
	/*background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);*/
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;

}
div.hero__content {
    color:blue;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;

}

@keyframes fall {
	
	100% {
		transform: translateY(0);

	}
	
}


.banner, .banner2, .banner3, .banner4 {
    background-image: url('/static/images/mosaic.jpg');
	background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2{
    background-image: url('/static/images/pink.jpg');
}

.banner3{
    background-image: url('/static/images/red.jpg');
}
.banner4{
    background-image: url('/static/images/rainbow.png');

}
h144 {
    font-size: 5rem;
    font-family: 'Fjalla One', sans-serif;
    padding:10px;
}