
/* website colors: light bule - 467DA2, dark blue - 09203D,
				   light brown - 8E7262, medium brown - 773D1B,
				   dark brown - 3A1003
*/
/* GENERIC */

a {
	color: lightcyan;
	text-decoration: none;
}
a:hover, a:active {
	color: lightcyan;
	cursor: pointer;
}

img.profile {
	min-width: 4.3em;
	max-width: 30em;
}

h11, h12{
    font-size: 30px;
    color: greenyellow;
}
h12{
    font-size: 17px;
}
h7 {
	font-size: 20px;
	color: lightblue;

}
h8 {
	font-size: 20px;
	color: lightblue;
	font-style: italic;
	font-family: inherit;
}
h13{
    font-size:50px;
    color:greenyellow;
    background-color: white;
}

/* BASE */

body { 
	background-image: url('/static/images/mosaic.jpg');
	height: 100%;
	width: 100%;
	margin: 0;
    font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	color: greenyellow;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    
	display: grid;
	grid-column-gap: 3em;

    color:greenyellow;
    font-family: 'Fjalla One', sans-serif;

}
body.registerpage {
    background-image:none; 
    overflow:scroll;
}

header {
	width: 100%;
    position:fixed;
    list-style-type: none;
    background: rgba(0, 200, 220, 0.5);

    height: auto;

}

header ul {
    opacity: 0.9;
	overflow: scroll;
}
header ul li {
    padding:1em;
    list-style-type: none;
}

div.urls a{
	font-size: 1.6em;
    font-family: 'Fjalla One', sans-serif;
	color: black;
}

div.urls a:hover{
    -webkit-filter: drop-shadow(12px 12px 20px white);
/*     filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));*/
    filter: drop-shadow(12px 12px 20px white);
    color:white;
    text-decoration: none;
}


div.page_name {
	margin-top:90px;
    border: 5px solid greenyellow;
    background-color: #09203D;
    padding-top: 0.2em;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-decoration-style: dotted;
	clear: both;
    margin-left:auto;
    margin-right:auto;
	text-align: center;
    opacity:1;
    width:590px;
	font-size: 3.5em;
	padding-bottom: 0.3em;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));
/*     filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));*/
    filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 1));
    color:white;
}
div.body {
	width: 100%;
	overflow: scroll;
	top: 4.5em;
	bottom: 4.5em;



}
div.new{
    margin-left:auto;
    width:450px;
    margin-right: auto;
    text-align:right;
    bottom:0;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));
/*     filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));*/
    filter: drop-shadow(12px 12px 7px rgba(0, 250, 120, 0.9));
    padding-bottom:10px;
    overflow:scroll;
}


/* CATEGORIES PAGES */

div.cat_text{
	padding: 2%;
	color: greenyellow;
	position: relative;
	background: rgba(100, 100, 100, 0.8);
	text-align: center;
	bottom: 1em;
	font-size: 1.5em;
	box-shadow: 3px 3px 3px lightblue;
    border-radius:10%;

}

div.cat_textentry{
    width:10em;
    height:2.5em;
}
div.cat_text:hover {
}
div.cat img{
    margin-top:20px;
	position: relative;
	width: 12.5em;
	height: 11em;
    border-radius:50%;

}
div.entrycat img{

	width: 15.7em;
	height: 12em;
    border-radius:10%;
}
div.cat img:hover{
    top:7px;

}
div.row {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 4%;
	justify-content: center;
	align-items: center;
}
div.show_categories {
    padding:15px;
	font-family: 'Fjalla One', sans-serif;
	display: grid;
	grid-template-columns: 9em auto;
	grid-gap: 1%;
}
div.cat_bar a{
	margin-left: 0.9em;
    margin-top: 250px;
    margin-bottom: 10px;
    position: fixed;
	font-size: 1em;
    color:aliceblue;
    padding-bottom: 70px;
    font-family: 'Fjalla One', sans-serif;
    overflow:scroll;
}
div.cat_bar a:hover{
    font-size:1.2em;
    color:greenyellow;
}
div.cat_bar h3{
    margin-top: 225px;
    position: fixed;
	line-height: 10%;
	font-weight: bold;
    font-family: 'Fjalla One', sans-serif;

}

/* ENTRY PAGE */

div.entry_page{
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 20% 45% 20%;
	justify-content: center;
	grid-column-gap: 1em;
    overflow:scroll;

}
div.entry_title{
    margin-left:auto;
    margin-right: auto;
    text-align:center;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    width:100%;
}
div.entry_info img{
    text-align: center;
    margin-top: 10px;
    margin-left:0px;
	width: 600px;
    height: 330px;
}
div.other {
	overflow: scroll;
}
div.entry_info {
	word-wrap: normal;
    overflow:scroll;
    margin-left: auto;
    margin-right: auto;
}

div.reviews {
    width: 350px;
    height: 450px;
	text-align: right;
    word-wrap: normal;
    background-color: #09203D;
    opacity: 0.95;
    padding:15px;
    border: 5px solid greenyellow;
    margin-bottom: 100px;
	overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;

    
}
div.addinformation {
    width: 556px;
    height: 550px;
	text-align: left;
    word-wrap: normal;
    background-color: #09203D;
    opacity: 0.95;
    padding:15px;
    border: 5px solid greenyellow;
	overflow: scroll;
    color:white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

    
}
div.reviews2 {
    width: 350px;
    margin-left: 1000px;
	text-align: right;
    word-wrap: normal;
    background-color: #09203D;
    opacity: 0.95;
    padding:15px;
    border: 5px solid greenyellow;
    margin-bottom: auto;
	overflow: scroll;
}



pre {
	white-space: pre-wrap;
	display: block;
	width: auto;
	font-size: 1.4em;
    color: white;
    font-family: 'Fjalla One', sans-serif;

}
div.view {
	max-height: 20em;
    overflow: scroll;
    color:white;
}
div.give {
    
    width:300px;
	overflow: scroll;
    margin-bottom: 10px;
    padding: 20px;
}
div.give2 {
    
	overflow: scroll;
    margin-bottom: 10px;
}

/* HOMEPAGE */

div.index_page {
	position: fixed;
	display: grid;
	height:100%;
	grid-template-columns: auto 56% auto;
	justify-content: center;
	grid-column-gap: 3em;
	padding-left: 4em;
	padding-right: 4em;
    color:greenyellow;
    font-family: 'Fjalla One', sans-serif;
    margin-top:70px;
}


div.index_page img{
	width: 100%;
	position: relative;
}
div.latest_posts {
	text-align: center;
    margin-bottom:100px;
    
}
div.current_reminders, div.top_rated {
    padding-top:10px;
	/*overflow: scroll; */
    height:1000px;
    margin-bottom:100px;
    width:280px;
    height:1050px;

}

/*INDEX PAGE Current Reminders& Latest Posts & Important Entries Columns*/ 
/* hot purple: 50117d or purple */
div.current_reminders, div.top_rated, div.item {
   /* background-image: radial-gradient(50% 176%, #09203D 80%, white 100%); */
  /*  background-image: radial-gradient(50% 296%, #3a7a12 80%, lime 100%); */
    background-image: radial-gradient(50% 296%, #09203D 80%, lightblue 100%);

    opacity: 1;
    margin-top:50px;
    padding:10px;
    color: greenyellow;
    font-size: 20px;
    border-radius: 10%;
}
div.latest_posts img.index-logo{
    /*background-image: radial-gradient(50% 296%, white 80%, white 100%); */
    opacity:0.9;

}
/*Size of image inside carousel*/
div.latest_posts img{
    border-radius:0%;
}
div.latest_posts img.index-logo{
	width: 30%;
	background-color: rgba(220, 220, 220, 0);
    border-radius:0%;

}
/*Size of border inside carousel*/
div.item {
    margin-top:0px;
    border-radius:5%;
    background-image: radial-gradient(50% 296%, #09203D 80%, lightblue 100%);

}

div.current_reminders h3, div.top_rated h3{
    font-size:30px;
    padding-left:18px;
    
}
 div.top_rated h3{
     padding-left:30px;
}

/*INDEX PAGE Current Reminders and Important Entries Columns IMAGES */
div.current_reminders img, div.top_rated img{
    width:260px;
    height:180px;
    padding-left:0px;
    opacity:0.8;
    border-radius: 0%;
}

div.top_rated img:hover, div.current_reminders img:hover{
    opacity:1;
    bottom: 2px;
}


/* PROFILE PAGE*/

div.account {
	position: fixed;
	display: grid;
	height: 77%;
	grid-template-columns: 25em auto;
	justify-content: left;
	grid-column-gap: 3em;
	padding-left: 4em;
	padding-right: 4em;
    color:#09203D;
}

div.user_info img{
	width: 100%;
}
div.user_entries {
	overflow: scroll;
}
div.entry {
	line-height: 1.2em;
	margin-bottom: 8px;
	height: 60px;
	background-color: #09203D;
    border: 1px solid greenyellow;
	overflow: scroll;
	font-size: 0.9em;
    padding:10px;
}
div.entry2 {
	line-height: 1.2em;
	margin-bottom: 8px;
	height: 100px;
	background-color: #09203D;
	overflow: scroll;
	font-size: 0.9em;
    border: 1px solid white;
    padding:10px;
}
div.entry img{
	padding-right: 0.25em;
	float: left;
}
div.entry img:hover{
	opacity: 0.7;
}

/* FAQS */

input.button {
    background-color: greenyellow;
    color: #09203D;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 90px;
    height: 35px;
}
.btn1, .btn2, .btn4, .btn3 {
    background-color: greenyellow;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 100px;
    height: 45px;
}

/* FORMS */




.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

}


.ParallaxContainer {
    display: block;
    flex: 1 0 auto;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
    margin-top:195px;
    position:relative;
    -webkit-animation: mymove 15s ; /* Safari 4.0 - 8.0 */
    animation: mymove 15s ;
    
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: -1050px;}
  to {top: px;}
}

@keyframes mymove {
  from {top: -1050px;}
  to {top: 4px;}
}

.ParallaxContainer img.index-logo{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));
/*     filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));*/
    filter: drop-shadow(12px 12px 7px rgba(0, 150, 220, 0.9));
    display:inline-block;
}


.ContentContainer {
    display: block;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .ParallaxContainer {
    background-attachment: scroll;
  }
}

div.center {
    text-align: center;
}
textarea {
	width: 400px;
    background-color:aliceblue;
}

img.scrollMessage {
    padding:10px;
    padding-top:25px;


}
div.backing{
    width:250px;
    height:250px;
    border-radius:50%; 
    background: rgba(0, 220, 220, 0.7);
    display: inline-block;

}

div.login_page {
    width: 400px;
    border: 15px solid #09203D;
    padding: 15px;
    margin-bottom: 240px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin:auto;
    background:rgba(50, 200, 220, 0.8);
    background-image:url('/static/images/mosaic.jpg');
    
}

div.register{
    width: 450px;
    border: 15px solid #09203D;
    padding: 55px;
    margin: 0 auto;
	overflow: scroll;
    text-align: center;
    color:#09203D;
    background-color:white;
}
div.steps {
    width: 570px;
    border: 5px solid greenyellow;
    padding: 10px;
    margin-bottom: 140px;
    margin-left:auto;
    margin-right:auto;
    text-align: left; 
    background-color: #09203D;
    opacity:0.95;
}
div.contact {
    
    width: 523px;
    border: 15px solid #09203D;
    background-color:white;
    padding: 25px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color:#09203D;
}
div.add {
    width: 520px;
    color:#09203D;
    border: 15px solid #09203D;
    background-color:white;
    padding: 25px;
    margin: 50px;
    margin-top:10px;
    margin-left: auto;
    margin-right:auto;
    text-align: left;

}
div.edit_class {
    width: 400px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;

}
.edit {
    background-color: #467DA2;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #09203D;
    padding: 3px;
    width: 120px;
    height: 50px;
}
div.suggest{
    width: 400px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}
div.faq_class {
    width: 523px;
    border: 15px solid #09203D;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    margin-top:10px;
    background-color: white;
    color:#09203D;
}
div.chef_info{
    width: 75%;
    border: 10px solid greenyellow;
    background-color: #09203D;
    opacity:0.95;
    padding: 15px;
    margin: 0 auto;
    margin-bottom:100px;
    text-align: left;
}


div.invalidLogin{
    padding:auto;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 30px;
}
/*About page*/

div.about{
    padding:30px;
    font-size: 20px;
}
div.about h1{
    padding:20px;
    color:#09203D;
    text-decoration: underline;
    text-decoration-color: #09203D;
    text-decoration-style: wavy;
    font-size: 40px;
}

div.about p{
    margin:auto;
    color:white;
    font-size: 25px;
    font-weight: bold;
    opacity:0.8;
}

.hero {
	/*background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);*/
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 150vw;
	min-height: 150vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateX(-768px);
	animation: fall 32.5s infinite linear;

}
div.hero__content {
    color:blue;
    padding:3em;
    padding-top:1em;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateX(-768px);
	animation: fall 45s infinite linear;

}

@keyframes fall {
	
	100% {
		transform: translateY(0);

	}
	
}


.banner, .banner2, .banner3, .banner4 {
    background-image: url('/static/images/mosaic.jpg');
	background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner2{
    background-image: url('/static/images/m.jpg');

}

.banner3{
    background-image: url('/static/images/k.jpg');
}
.banner4{
    background-image: url('/static/images/j.jpg');
    

}
div.banner img{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));
/*     filter: drop-shadow(12px 12px 7px rgba(120, 220, 0, 0.5));*/
    filter: drop-shadow(12px 12px 7px rgba(0, 150, 220, 0.9));
}
h144 {
    font-size: 5rem;
    font-family: 'Fjalla One', sans-serif;
    padding:10px;
}
h144 p{
    font-size: 1.9rem;
    font-weight:bold;
    color:white;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding:150px;
}