{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block js %}
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
{% endblock %}

{% block title_block %}
  About
{% endblock %}


{% block name_block %}
	<h7>About The Think Tank</h7>

{% endblock %}

{% block body_block %}

	<div class = "center">
		<p>
			<h8>Welcome to The Think Tank!<br> Here, you can browse entries created by you. These entries will help to keep you organized, whether you make one entry to keep all of your reminders or 100 entries, your entries themselevs will be organized into categories to aid the organization of your reminders and notes. <br> Create an account and you can leave reviews and ratings on your own entries, to rate your progress on your work! Highest rated progress will be posted on the home screen for positive reinforcement. <br> What are you waiting for? Start getting organized on the Neighborhood Cookbook.
			</h8>
			<br/>
			<br/>
			<div class="about">
				<h7>About The Creators</h7>
				<br/>
				<br/>
				{% if chefs %}
				{% for chef in chefs %}
					{% if chef.user.is_staff %}
						{% with abouturl="/static/about_"|add:chef.user.username|add:".txt" %}
						<button type="submit" onclick="loadDoc('{{ abouturl }}')"><img src="{{ MEDIA_URL }}{{ chef.photo }}" alt="Picture of {{ chef.user.get_full_name }}" height="100" /></button>
						{% endwith %}
					{% endif %}
				{% endfor %}
			{% else %}
				<strong>There are no admins present.</strong>
			{% endif %}
			<br/>
			<div id="about_creator"></div>
		</div>
		<h5> This website was designed by Lynda, Amy, Qiufei and Eve </h5>
	</div>
{% endblock %}
