<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">
		<meta charset="utf-8" content="width=device-width, height=device-height" />
		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
		<title>
			TheThinkTank -
			{% block title_block %}
			{% endblock %}
		</title>
		{% block js %}
		{% endblock %}
	</head>
	<body>
		<header>
			<ul>
			<div class="urls">
				{% if user.is_authenticated %}
                    <div class="urlsA">
					<li style="float:right; padding-top:12px; padding-left:5px; padding-right:20px;"><a href="{% url 'logout' %}">Logout</a></li>
                    </div>
                    <div class="urlsF">
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'userprofile' user.username %}">My Account</a></li>
                    </div>
                    <div class="urlsB">
				    <li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'widgets' %}">Widgets</a></li>
                    </div>
                    <div class="urlsC">
                    <li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'categories' %}">Categories</a></li>
                    </div>
                    <div class="urlsD">
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'addentry' %}">Add Entry</a></li>
                    </div>
                    <div class="urlsE">
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'addreminder' %}">Add Reminder</a></li>
                    </div>
                    <div class="urlsF">
                    <li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'index' %}">Home</a></li>
                    </div>
				{% else %}
					<li style="float:right; padding-top:12px; padding-left:5px; padding-right:30px;"><a href="{% url 'login' %}">Login</a></li>
					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'register' %}">Sign Up</a></li>
				{% endif %}

			</div>
			</ul>
		</header>
		<div class="body">
				{% block name_block %}
				{% endblock %}
	
			<div>
				{% block body_block %}
				{% endblock %}
			</div>
		</div>
		<footer>
			<div class="urls">
				<a href="{% url 'about' %}" style="background-color:white;">About Us</a>                
				<a href="{% url 'contact' %}" style="background-color:white;">Contact Us</a>
				<a href="{% url 'faq' %}" style="background-color:white;">FAQs</a>
				{% if user.is_authenticated %}
					<a href="{% url 'suggestion' %}" style="background-color:white;">Suggest Category</a>
				{% endif %}

			</div>

		</footer>
	</body>
</html>
