<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">

		<meta charset="utf-8" content="width=device-width, height=device-height" />
		<link href="{% static 'css/main.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display+SC|Raleway&display=swap" rel="stylesheet">


        <title>
			TheThinkTank -
			{% block title_block %}
			{% endblock %}
		</title>
		{% block js %}
		{% endblock %}
	</head>
	<body>

		<div class="body">
				{% block name_block %}
				{% endblock %}


				{% block body_block %}

				{% endblock %}

		</div>

		<header>

			<ul>
			<div class="urls">
				{% if user.is_authenticated %}

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'index' %}">Home</a></li>

                   <!-- <li style="float:left;padding-left: 8%;"><a href="{% url 'widgets' %}">Widgets</a></li> -->

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'categories' %}">Categories</a></li>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'addentry' %}">Create Entry</a></li>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'addreminder' %}">Create Reminder</a></li>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'about' %}">About Us</a>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'contact' %}">Contact Us</a>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'faq' %}">FAQs</a>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'userprofile' user.username %}">My Account</a></li>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'suggestion' %}">Suggest Category</a>

                    <li style="float:left;padding-left: 4%;"><a href="{% url 'logout' %}">Logout</a></li>


				{% else %}

					<li style="float:left;padding-top:12px; padding-left:5px;padding-right:30px"><a href="{% url 'login' %}">Login</a></li>

					<li style="float:left;padding-top:12px; padding-left:5px;"><a href="{% url 'register' %}">Sign Up</a></li>

					<li style="float:right; padding-top:12px; padding-left:5px;"><a href="{% url 'contact' %}" >Contact Us</a></li>

                    <li style="float:right; padding-top:12px; padding-left:5px;padding-right:30px"><a href="{% url 'faq' %}" >FAQs</a> </li>

                    <li style="float:right; padding-top:12px; padding-left:5px;padding-right:30px"><a href="{% url 'about' %}">About Us</a> </li>

				{% endif %}

			</div>
			</ul>

		</header>
	</body>
</html>

