{% extends 'entries/base.html' %}
{% load staticfiles %}


{% block name_block %}
    <div class="page_name">
        Change Password
    </div>

{% endblock %}

{% block body_block %}

    <div class="containerPassword">
        <h4>If your password is changed successfully, you will be redirected to the home page! </h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}


            <button type="submit">Submit</button>
        </form>
        <br>
		<div class="urls">
            {% if user.is_authenticated %}
                <a style="color:greenyellow;" href="{% url 'edit_profile' user.username %}">Cancel</a>
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
