{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Edit a reminder
{% endblock %}

{% block name_block %}
    <div class="page_name">
	   Edit Reminder
    </div>
{% endblock %}

{% block body_block %}
	<div class="edit_class">

 		<form id="editreminder" method="post" enctype="multipart/form-data" action="{% url 'edit_reminder' reminder.slug %}">
			{% csrf_token %}
			{% for editfield in editreminder.visible_fields %}
				{% if editfield.label != "Password" %}
					{{ user.editfield.label }}
					{{ editfield.errors }}
					<strong>{{ editfield.label }}</strong><br/>
					{{ editfield }}<br/>
				{% endif %}
			{% endfor %}

			<input type="submit" name="submit" value="Submit" class="edit"></input>
		</form>
		<br>

		<br/>
	</div>
{% endblock %}