
{% extends 'entries/base.html' %}
{% load staticfiles %}


{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("button").click(function() {
			alert("Thanks for leaving a review!");
		});
	});
	</script>

    <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'>
    </script>

    <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'>
    </script>

{% endblock %}

{% block title_block %}
  {{ entry.name }}
{% endblock %}

{% block name_block %}

    {% if user.is_authenticated %}

        {% if user.username == entry.chef.username %}



        {% endif %}

    {% endif %}

{% endblock %}


{% block body_block %}

    {% if user.is_authenticated %}

        {% if user.username == entry.chef.username %}

            <div class="entry_page">



                <div class="chef_info">
                    {% if user.username == entry.chef.username %}
                        <div class="urls" style="margin-bottom:10px;">
                            {% if user.is_authenticated %}
                                <div class="delete"><a href="{% url 'edit_entry' entry.slug %}" style="color:red;">Edit Entry</a></div>
                                <div class="delete"> <a href="/entries/entry/{{ entry.slug }}/delete/" style="color:red;">Delete Entry </a> </div>
                            {% endif %}
                        </div>

                    {% endif %}


                    {% if entry %}
                        <strong> Name: </strong><a href="{% url 'userprofile' entry.chef.username %}">{{ entry.chef }}</a><br/>
                        <strong> Date Created: </strong>{{ entry.date_last_edited }}<br/>
                        <strong> Priority: </strong>{{ entry.importance }}<br/>
                        <strong> Overall Progress Rating: </strong>{{ avgRating }}<br/>
                        <br><strong> Key Information:</strong>
                        <pre>{{ entry.key_info }}</pre>
                        <strong> To-Do:</strong>
                        <pre>{{ entry.to_do }}</pre>
                    {% endif %}
            <!--            <div class="show_categories">
                        <div class="cat_bar">
                        <h3>Categories</h3>
                            {% for cat in cats_bar %}
                                <a href="{% url 'show_category' cat.slug %}">{{ cat.name }}</a><br/>
                            {% endfor %}
                        </div>
                    </div>-->


                </div>




                <div class="user_entries_page">

                    <div class="entriesdisplay">

                            <div class="entry_info">

                                <div class="page_name">

                                    {% if entry %}
                                        {{ entry.name }}
                                    {% endif %}

                                </div>

                                {% if entry %}
                                    <img src="{{ MEDIA_URL }}{{ entry.photo }}" alt="Picture of {{ entry.name }}"/><br/>

                                    <div class="steps">
                                        My Content:<br/>
                                        <pre>{{ entry.content }}</pre>
                                    </div>

                                {% else %}
                                    <strong>This is not an entry.</strong>
                                {% endif %}


                                <div class="addinformation">

                                    <h11>Futher Content:</h11>

                                    <div class="viewextra">
                                        {% if extrainformation %}
                                            {% for extra in extrainformation %}
                                                <div class="entry2">

                                                    <div>
                                                       <h7 style="text-decoration: underline; font-size: 12px;"> <strong>{{ extra.date_last_edited }}</strong></h7><br/>
                                                        {{ extra.comment }}

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <h12><strong>There is no extra information yet for this entry.</strong></h12>
                                        {% endif %}
                                    </div>


                                    {% if user.is_authenticated %}
                                        {% if entry %}
                                            <div class="give2">

                                                <br><h11 style="text-decoration-line: overline; font-size:20px;">Add Additional Information to your entry!</h11>
                                                <form id="extrainformation_form" method="post" action={% url 'viewentry' entry.slug %}>
                                                    {% csrf_token %}
                                                    {% for field in form2.visible_fields %}

                                                        {{ field.errors }}
                                                    <h12>{{ field.label }}</h12><br/>
                                                        {{ field }}<br/>

                                                    {% endfor %}
                                                    <button type="submit" name="submit" value="Submit">Submit</button>
                                                </form>

                                            </div>

                                        {% endif %}

                                    {% endif %}

                                </div>

                            </div>
                            <br>

                    </div>

                    <div class="remindersdisplay">

                        <div class="reviews">

                                <h11>Progress Reports</h11>
                                <div class="view">
                                    {% if reviews %}
                                        {% for review in reviews %}
                                            {% if entry.chef.username == review.author.username %}

                                            <div class="entry">
                                                <a href="{% url 'userprofile' review.author.username %}"><img src="{{ MEDIA_URL }}{{ review.author.chef.photo }}" alt="Picture of {{ review.author }}" width="80"/></a>

                                                <div>
                                                    <h7 style="font-size:14px; text-decoration: underline;"><strong>{{ review.rating }} | {{ review.date_last_edited }}</strong> | {{ review.title }} | </h7><br/>
                                                    {{ review.comment }}
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <h12><strong>There are no progress reports for this entry.</strong></h12>
                                    {% endif %}
                                </div>


                                {% if user.is_authenticated %}
                                    {% if entry %}
                                        <div class="give">
                                            <br><h11>Leave a Progress Report!</h11>
                                            <form id="review_form" method="post" action={% url 'viewentry' entry.slug %}>
                                                {% csrf_token %}
                                                {% for field in form.visible_fields %}
                                                    {{ field.errors }}
                                                <h12>{{ field.label }}</h12><br/>
                                                    {{ field }}<br/>
                                                {% endfor %}
                                                <button type="submit" name="submit" value="Submit">Submit</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        {% else %}

            <h11>You do not have permission to view this page</h11>

        {% endif %}

    {% endif %}

{% endblock %}
