{% extends 'entries/base.html' %}
{% load staticfiles %}



{% block title_block %}
    FAQ
{% endblock %}

{% block name_block %}
    <div class="page_name">
	   FAQs
    </div>
{% endblock %}

{% block body_block %}
<div class="faq_class">

<button class="btn1" onclick="document.getElementById('demo').innerHTML=Date()">What is the time?</button>

<h4 id="demo"></h4>

<h1> How can we help? </h1>

<h3> How do I make an account?</h3>

<p id="q1"> You can make an account using our sign up option located at the top of the screen </p>

<button class="btn1">Hide Answer</button>
<button class="btn2">Show Answer</button>

<h3> Can I edit an entry I have already created? </h3>

<p id="q2"> Currently you are unable to edit a pre-existing entry, but you can use the "Extra Information" section on every existing Entry page to add information you think of later on! </p>

<button class="btn3">Hide Answer </button>
<button class="btn4">Show Answer </button>
    
<h3> Can I edit my profile? </h3>

<p id="q3"> You are able to edit your profile using the Edit Profile button within the 'My Account' page. From there, you can also change your password after clicking on the 'Edit Profile' button. When you click Edit Profile, some previous personal information will be immediately wiped including Email Address, First Name, Last Name and Bio; however, your previous profile picture will remain untouched.  </p>

<button class="btn5">Hide Answer </button>
<button class="btn6">Show Answer </button>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

</div>
{% endblock %}
