{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Invalid Login
{% endblock %}

{% block name_block %}
<div class="page_name">
    Username or password was invalid.

</div>
{% endblock %}

{% block body_block %}
    <div class="urls" style="margin-left:485px;margin-top:30px;margin-bottom:30px;">
        <a href="{% url 'index' %}" style="padding:20px;">Return to Index</a>
        <a href="{% url 'register' %}" style="padding:20px;">Sign Up</a>
        <a href="{% url 'login' %}" style="padding:20px;">Try Login Again</a>
    </div>
    <video style="margin-left: 480px;;" autoplay loop controls width="650" height="400" name="Video Name" src="{% static "images/ThinkTankMorph.mov" %}"></video>
    <br>



{% endblock %}