{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block name_block %}
    <div class=latest_posts>
    <img class ="scrollMessage" src="{% static "images/scrollMessage.png" %}" alt="scroll message" width="300"/>
    
    </div>
{% endblock %}

{% block body_block %}
    <div class="login_page2">
        <img class="index-logo" src="{% static "images/logo.png" %}" alt="Website Logo" width="900"/>
    </div>

	<div class="login_page">
		<h2> Login </h2>
		<form id="login_form" method="post" action={% url 'login' %}>
			{% csrf_token %}
			<h3> Username </h3>
			<input type="text" name="username" placeholder="Username" value="" size="50" />
			<br />
			<h3> Password </h3>
			<input type="password" name="password" placeholder="Password" value="" size="50" />
			<br />
			<br />
			<input type="submit" name="submit" value="Login" class="button" />
		</form>
	</div>
{% endblock %}
