{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block name_block %}
{% endblock %}

{% block body_block %}

<div class="MainContainer">

    <div class="ParallaxContainer">
        
        <img class="index-logo" src="{% static "images/logo.png" %}" alt="Website Logo" width="800" height="500" />
        
        <div class="center">
            <div class="backing">
                <img class ="scrollMessage" src="{% static "images/scrollMessage.png" %}" alt="scroll message" width="240" height="200" />
            </div>
        </div>
        
    </div>
    <!--/*radial-gradient(50% 296%, deeppink 8%, blue 100%)*/-->
    
    <div class="ContentContainer">
        
        <div class="Content">
            <div style="height:700px; width:100%;background-image: radial-gradient(50% 296%, cyan 8%, blue 100%);padding-top:400px; background-size: cover;">

                <div class="login_page">
                    <form id="login_form" method="post" action={% url 'login' %}>
                        {% csrf_token %}
                        <h3> Username </h3>
                        <input type="text" name="username" placeholder="Username" value="" size="50" />
                        <br />
                        <h3> Password </h3>
                        <input type="password" name="password" placeholder="Password" value="" size="50" />
                        <br />
                        <br />
                        <input type="submit" name="submit" value="Login" class="button" />
                    </form>
                </div> 
                
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
