{% extends 'entries/base.html' %}
{% load staticfiles %}


{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$("button").click(function() {
			alert("Thanks for leaving a review!");
		});
	});
	</script>
{% endblock %}

{% block title_block %}
  {{ reminder.name }}
{% endblock %}

{% block name_block %}
    <div class="page_name">
        <div class="entry_title">
            {% if reminder %}
                {{ reminder.name }}
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block body_block %}
	<div class="entry_page">

		<div class="other">
			<div class="chef_info">
				{% if entry %}
					<strong> Name: </strong><a href="{% url 'userprofile' reminder.chef.username %}">{{ entry.chef }}</a><br/>
					<strong> Date Last Edited: </strong>{{ entry.date_last_edited }}<br/>
					<strong> Importance: </strong>{{ entry.importance }} / 5<br/>
				{% endif %}
			</div>
<!--            <div class="show_categories">
                <div class="cat_bar">
                <h3>Categories</h3>
                    {% for cat in cats_bar %}
                        <a href="{% url 'show_category' cat.slug %}">{{ cat.name }}</a><br/>
                    {% endfor %}
                </div>
            </div>-->
            
		</div>

		<div class="entry_info">
			{% if reminder %}
				<img src="{{ MEDIA_URL }}{{ reminder.photo }}" alt="Picture of {{ reminder.name }}"/><br/>
				<div class="steps">
					
					REMINDER:<br/>
					<pre>{{ reminder.content }}</pre>
				</div>
			{% else %}
				<strong>This is not a reminder.</strong>
			{% endif %}
		</div>

	</div>
{% endblock %}