{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Widgets
{% endblock %}

{% block name_block %}
    <div class="page_name">
        Widgets
    </div>
{% endblock %}

{% block body_block %}
    <h3>Widgets to help you plan</h3>

    <div class="row">
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=276"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=241"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=105"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=174"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=159"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=122"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=83"></script>
    </div>
	
{% endblock %}
