{% extends 'entries/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Widgets
{% endblock %}

{% block name_block %}
    <div class="page_name">
        Widgets
    </div>
{% endblock %}

{% block body_block %}
    <h144 style="padding:0px;"><p style="padding:10px;">Widgets to help you plan</p></h144>

    <div class="row" style="border: 15px solid greenyellow; border-style: outset; padding:4px; background:rgba(1, 19, 39, 0.7);">
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=276"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=241"></script>
        <script type="text/javascript" src="//100widgets.com/js_data.php?id=105"></script>

    </div>
	
{% endblock %}
